{% extends 'views_navbar.html' %}

{% block css %} {{ url_for('static', filename='css/views/user_info.css') }} {% endblock %}

{% block scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
<script src="../../static/js/views/user_info.js" defer></script>
{% endblock %}

{% block header %}user_info{% endblock %}

{% block content %}

<div class="cover_block">
    <div class="driver_profile container">
        <h2>user Profile</h2>
        <form action="{{ url_for('mongo_user.add_user') }}" method="POST" enctype="multipart/form-data">

            <input type="hidden" id="email" name="email" value="{{ current_user.email }}">
            <input type="hidden" id="display_name" name="display_name" value="{{ current_user.display_name }}">

            <div class="form-group mb-3 mt-4">
                <label for="avatar">profile Picture:</label>
                <input type="file" class="form-control-file" id="profile_image" name="profile_image">
            </div>

            <div class="form-group">
                <label for="phone">phone:</label>
                <input type="number" class="form-control" id="phone" name="phone" value="">
            </div>
            
            <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Save details</button>
        </form>
    </div>
</div>

{% endblock %}