{% extends 'driver_views_navbar.html' %}

{% block css %} {{ url_for('static', filename='css/views/driver_homepage.css') }} {% endblock %}

{% block scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
type="text/css"
/>
<script src="../../static/js/views/homepage.js" defer></script>
{% endblock %}

{% block header %}driver_homepage{% endblock %}

{% block content %}

<div class="main-block">
  <div class="row grid-block col-4" style="display: flex; flex-direction: column-reverse; justify-content: start;">
    {% if ride_details %}
      {% for detail in ride_details %}
      <div class="card text-center" style="height: 33%;">
        <div class="card-header">
          ride request
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ detail.pickup }} - {{ detail.drop}}</h5>
          <p class="card-text">{{ detail.ride_fare }} - {{ detail.pickup_time }}</p>
          <div class="button-group">
            <a href="#" class="btn btn-primary" onclick="acceptRide('{{ detail.request_id }}', '{{ car_type }}')">Accept</a>
            <a href="#" class="btn btn-primary">decline</a>
          </div>
        </div>
        <div class="card-footer text-body-secondary">
          {{ detail.timestamp }}
        </div>
      </div>
      {% endfor %}
    {% else %}
      <h3>No ride requests</h3>
    {% endif %}
  </div>
  <div class="custom-map col-8" id="map-div">
      
      <div id='map'></div>
  </div>
</div>

{% endblock %}